## ETL Song

In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
plt.rcParams["figure.figsize"] = (16,9)
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 30)

In [71]:
# determined encodings with `file --exclude encoding Billboard.csv`
df = pd.read_csv("./data/Billboard.csv", low_memory=False, encoding="ISO-8859-1", parse_dates=['Date Entered', 'Date Peaked'])
df.head()

,Year,Yearly Rank,Source,Prefix,CH,40,10,PK,High,Verified,Artist,Artist Inverted,Featured,UnFeatured,Album,...,77th Week,78th Week,79th Week,80th Week,81st Week,82nd Week,83rd Week,84th Week,85th Week,86th Week,87th Week,88th Week,89th Week,90th Week,91st Week
0,2015,262,h,2015-001,25.0,1.0,0.0,1.0,39,NaN,Milky Chance,Milky Chance,NaN,NaN,Stolen Dance - EP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,298,h,2015-002,34.0,27.0,2.0,2.0,10,NaN,Fall Out Boy,Fall Out Boy,NaN,NaN,American Beauty / American Psycho,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,301,h,2015-003,32.0,25.0,10.0,1.0,7,NaN,Nick Jonas,"Jonas, Nick",NaN,NaN,Nick Jonas (Deluxe Version),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,304,h,2015-004,16.0,5.0,0.0,1.0,18,NaN,Meghan Trainor,"Trainor, Meghan",NaN,NaN,Title - EP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,308,h,2015-005,20.0,0.0,0.0,1.0,44,NaN,Florida Georgia Line,Florida Georgia Line,NaN,NaN,Anything Goes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN